build/
lib/*.jar
target
.idea
.idea_modules
.settings
.project
.classpath
.cache
atlassian-ide-plugin.xml
*.iml
.java-version
.DS_Store
# ignore .env file
# .env
# ignore .vscode folder
.vscode/
compose.log
svcprincipal_create.md
draft.md
creds.json
```